body{
    display: flex;
    align-items: center;
    font-family: 'Roboto Mono', sans-serif;
    justify-content: center;
}

.calculator-buttons{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    background-color: black;
}
.btn{
    width: 60px;
    font-family: 'Roboto Mono', sans-serif;
    border: 1px solid black;
    font-weight: bolder;
    font-size: 15px;
}

#num1{
    margin-top: 1px;
    border-top-left-radius: 5px;
}

#num2{
    margin-top: 1px;
}

#num3{
    margin-top: 1px;
    border-top-right-radius: 5px;
}


.clear{
    width: 120px;
}

.text{
    padding-left: 0px;
    margin: 0px;
    font-weight: bold;
    text-shadow: -2px 2px 3px #434544;
}
.backspace{
    width: 100px;
}

.equals{
    width: 80px;
}

#num0{
    width: 120px;
}

.calculator{
    background-color: darkgray;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-top: 150px;
    width: 180px;
    height: 360px;
}

.display-result{
    display: flex;
    justify-content: end;
    align-items: end;
    text-align: center;
    width: 200px;
    height: 100;
    border: 2px solid #3c423f;
    margin-bottom: -1px;
    border-radius: 5px;
}

.numbers,
#dot{
    background-color: #03ad9a;
}

.other{
    background-color: #039fad;
}

.operator{
    background-color: orange;
}

